.body {
  height: 100%;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}

.input {
  width: 400px;
}

.regionSelectContainer {
  background-color: unset;
  width: 200px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 50px;
  justify-content: center;
  margin: 60px 20px 20px 20px;
}

.noResults {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
